body {
    
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
    margin: 20px;
    position: relative;

}

body::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;  
    width: 150px;
    height: 150px;
    background-image: url(portrait.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    border: 3px solid #c7c7c7;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
}

h1 {
    text-align: center;
    background-color: #e4e4e4;  
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4a4a4a;              
    letter-spacing: 1px;         
    border-bottom: 2px solid #c7c7c7; 
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2 {
    text-align: left;
    color: #6e6e6e;                        
    border-bottom: 1.5px solid #c7c7c7;     
    padding-bottom: 5px;
    margin-top: 30px;
    background-color: transparent;     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}



p {
    text-align: left;
}



ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
